# Assignment 1

In [1]:
# 1. Create a string variable named my_string and assign it the value "qwertyuiopasdfghjkl asdfghjkzxcvbnm".
my_string = "qwertyuiopasdfghjkl asdfghjkzxcvbnm"

In [2]:
# 2. Print the third character of my_string using indexing.
my_string[2]

'e'

In [3]:
# 3. Print the last character of my_string using indexing.
my_string[-1]

'm'

In [4]:
# 4. Print the first five characters of my_string using slicing.
my_string[:5:]

'qwert'

In [5]:
# 5. Print the last five characters of my_string using slicing.
my_string[-5::]

'cvbnm'

In [6]:
# 6. Print every other character of my_string using slicing.
my_string[::2]

'qetuoadgjladgjzcbm'

In [7]:
# 7. Print my_string in reverse using slicing.
my_string[::-1]

'mnbvcxzkjhgfdsa lkjhgfdsapoiuytrewq'

In [8]:
# 8. Print the first two characters of my_string using slicing.
my_string[:2:]

'qw'

In [9]:
# 9. Print the characters of my_string from index 7 to index 12 (inclusive) using slicing.
my_string[7:13:]

'iopasd'

In [10]:
# 10. Print the last three characters of my_string using slicing.
my_string[-3::]

'bnm'

In [11]:
# 11. Print the characters of my_string in reverse order using slicing.
for i in my_string[::-1]:
    print(i)

m
n
b
v
c
x
z
k
j
h
g
f
d
s
a

l
k
j
h
g
f
d
s
a
p
o
i
u
y
t
r
e
w
q

In [12]:
# 12. Print every third character of my_string starting from the second character using slicing.
my_string[2::3]

'eyosgkafjxb'

In [13]:
# 13. Create a new string variable named new_string and assign it the value "learning is fun". 
new_string = "learning is fun"

In [14]:
# Concatenate my_string and new_string using the + operator and print the resulting string.
my_string + new_string

'qwertyuiopasdfghjkl asdfghjkzxcvbnmlearning is fun'

In [15]:
# 14. Create a string variable named my_string and assign it the value "Python is easy to learn!".
my_string = "Python is easy to learn!"

In [16]:
# 14a. Print the length of my_string.
len(my_string)

24

In [17]:
# 14b. Convert my_string to uppercase and print it.
my_string.upper()

'PYTHON IS EASY TO LEARN!'

In [18]:
# 14c. Replace the word "easy" in my_string with the word "powerful" and print the resulting string.
my_string.replace('easy', 'powerful')

'Python is powerful to learn!'

In [19]:
# 15. Create a string variable named email and assign it the value "jane.doe@example.com".
email = "jane.doe@example.com"

In [20]:
# 15a. Print the username (i.e., "jane.doe") by slicing the string.
email[:8:]

'jane.doe'

In [21]:
# 15b. Print the domain (i.e., "example.com") by slicing the string.
email[9::]

'example.com'

In [22]:
# 15c. Replace the domain with "mycompany.com" and print the resulting email address.
email.replace('example.com', 'mycompany.com')

'jane.doe@mycompany.com'

In [23]:
# 16. Create a string variable named my_string and assign it the value "Python is fun".
my_string = "Python is fun"

In [24]:
# 16a. Check if the word "is" is in my_string and print the result.
print('is' in my_string)

True

In [25]:
# 16b. Check if the word "Java" is not in my_string and print the result.
print('Java' in my_string)

False

In [26]:
# 16c. Split my_string into a list of words and print the result.
my_string.split(' ')

['Python', 'is', 'fun']

In [27]:
# 17. Create a string variable named my_string and assign it the value "Programming is fun!".
my_string = "Programming is fun!"

In [28]:
# 17a. Use string interpolation to replace "fun" with "awesome" and print the resulting string.
my_string.replace('fun', 'awesome')

'Programming is awesome!'

In [29]:
# 17b. Use the split method to split my_string into a list of words and print the result.
a = my_string.split(' ')

In [30]:
a

['Programming', 'is', 'fun!']

In [31]:
# 17c. Use the join method to concatenate the list of words into a single string using a space as a separator and print the resulting string.
b = ' '.join(a)

In [32]:
b

'Programming is fun!'

In [33]:
# 18. Create a string variable named my_string and assign it the value "This is a test sentence.".
my_string = "This is a test sentence"

In [34]:
# 18a. Use the count method to count the number of occurrences of the letter "e" in my_string and print the result.
my_string.count('e')

4

In [35]:
# 18b. Use the find method to find the index of the first occurrence of the word "test" in my_string and print the result.
my_string.find('test')

10

In [36]:
# 18c. Use the replace method to replace the word "test" with the word "example" in my_string and print the resulting string.
my_string.replace('test', 'example')

'This is a example sentence'

In [37]:
# 19. Create a string variable named my_string and assign it the value "python".
my_string = "python"

In [38]:
# 19a. Use slicing to print the first three characters of my_string in reverse order.
my_string[2::-1]

'typ'

In [39]:
# 19b. Use slicing to print the last two characters of my_string in reverse order.
my_string[:3:-1]

'no'

In [40]:
# 19c. Use the join method to add a hyphen between each character of my_string and print the resulting string.
# x = list(my_string)

x = []

for i in my_string:
    x.append(i)

In [41]:
x

['p', 'y', 't', 'h', 'o', 'n']

In [42]:
y = '-'.join(x)

In [43]:
y

'p-y-t-h-o-n'

In [44]:
# 20. Create a string variable named my_string and assign it the value "Python is a popular programming language".
my_string = "Python is a popular programming language"

In [45]:
# 20a. Use the title method to capitalize the first letter of each word in my_string and print the resulting string.
my_string.title()

'Python Is A Popular Programming Language'

In [46]:
# 20b. Use the split method to split my_string into a list of words and print the result.
my_string.split(' ')

['Python', 'is', 'a', 'popular', 'programming', 'language']

In [47]:
# 20c. Use the replace method to replace the word "Python" with "Java" in my_string and print the resulting string.
my_string.replace('Python', 'Java')

'Java is a popular programming language'

In [48]:
# 21. Create a string variable named my_string and assign it the value "Hello, World!".
my_string = "Hello, World!"

In [49]:
# 21a. Use the lower method to convert my_string to lowercase and print the resulting string.
my_string.lower()

'hello, world!'

In [50]:
# 21b. Use the upper method to convert my_string to uppercase and print the resulting string.
my_string.upper()

'HELLO, WORLD!'

In [51]:
# 21c. Use slicing to print the string "World" from my_string.
my_string[7:12:]

'World'

In [52]:
# 22. Create a string variable named my_string and assign it the value "racecar".
my_string = "racecar"

In [53]:
# 22a. Use slicing to print the string "race" from my_string.
my_string[:4:]

'race'

In [54]:
# 22b. Use slicing to print the string "cec" from my_string in reverse order.
my_string[-3:1:-1]

'cec'

In [55]:
# 22c. Check if my_string is a palindrome (i.e., reads the same forwards and backwards) and print the result.
if my_string == my_string[::-1]:
    print("String is a palindrome")

String is a palindrome

In [56]:
# 23. Create a list named fruits with the values ["apple", "banana", "cherry", "mango", "orange"].
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']

In [57]:
# 23a. Print the first fruit.
fruits[0]

'apple'

In [58]:
# 23b. Print the last two fruits using slicing.
fruits[-2::]

['mango', 'orange']

In [59]:
# 23c. Add "grape" to the list and print it.
fruits.append('grapes')

In [60]:
fruits

['apple', 'banana', 'cherry', 'mango', 'orange', 'grapes']

In [61]:
# 24. Create a list of numbers from 1 to 10.
num = list(range(1, 11))

In [62]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
# 24a. Print only the even numbers using slicing.
num[1::2]

[2, 4, 6, 8, 10]

In [64]:
# 24b. Reverse the list using slicing.
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
# 24c. Print every third element of the list.
num[::3]

[1, 4, 7, 10]

In [66]:
# 25. Create a list named colors with the values ["red", "blue", "green"].
colors = ['red', 'blue', 'green']

In [67]:
# 25a. Insert "yellow" at the second position.
colors.insert(1, 'yellow')

In [68]:
colors

['red', 'yellow', 'blue', 'green']

In [69]:
# 25b. Remove "blue" from the list.
colors.remove('blue')

In [70]:
# 25c. Print the final list.
colors

['red', 'yellow', 'green']

In [71]:
# 26. Create a list of numbers [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]

In [72]:
# 26a. Replace the second element with 25.
numbers[1] = 25

In [73]:
numbers

[10, 25, 30, 40, 50]

In [74]:
# 26b. Print the sum of all elements in the list.
sum(numbers)

155

In [75]:
# 26c. Print the maximum and minimum values.
max(numbers)

50

In [76]:
min(numbers)

10

In [77]:
# 27. Create a list of 5 integers.
my_list = [45, 99, 5000, 34, 68]

In [78]:
my_list

[45, 99, 5000, 34, 68]

In [79]:
# 27a. Sort the list in ascending order.
sorted(my_list)

[34, 45, 68, 99, 5000]

In [80]:
# 27b. Sort the list in descending order.
my_list.sort(reverse=True)
my_list

[5000, 99, 68, 45, 34]

In [81]:
# 27c. Print the length of the list.
len(my_list)

5

In [82]:
# 28. Create a tuple named my_tuple with values (1, 2, 3, 4, 5).
my_tuple = (1, 2, 3, 4, 5)

In [83]:
# 28a. Print the third element.
my_tuple[2]

3

In [84]:
# 28b. Print the first three elements using slicing.
my_tuple[:3:]

(1, 2, 3)

In [85]:
# 28c. Check if 4 is in my_tuple.
print(4 in my_tuple)

True

In [86]:
# 29. Create a tuple months with the first six months of the year.
months = ('January', 'February', 'March', 'April', 'May', 'June')

In [87]:
# 29a. Print the last month.
months[-1]

'June'

In [88]:
# 29b. Print the first four months.
months[:4:]

('January', 'February', 'March', 'April')

In [89]:
# 29c. Find the index of "March".
months.index('March')

2

In [90]:
# 30. Create a tuple with duplicate values (10, 20, 10, 30, 10, 40).
num_tuple = (10, 20, 10, 30, 10, 40)

In [91]:
# 30a. Count how many times 10 appears.
num_tuple.count(10)

3

In [92]:
# 30b. Find the index of the first occurrence of 30.
num_tuple.index(30)

3

In [93]:
# 31. Convert a list [1, 2, 3, 4] into a tuple and print it.
myList = [1, 2, 3, 4]

In [94]:
myTuple = tuple(myList)

In [95]:
myTuple

(1, 2, 3, 4)

In [96]:
# 31a. Convert the tuple back into a list and print it.
myNewList = list(myTuple)

In [97]:
myNewList

[1, 2, 3, 4]

In [98]:
# 32. Create a tuple student = ("Alice", 21, "Computer Science").
student = ("Alice", 21, "Computer Science")

In [99]:
# 32a. Print the name.
student[0]

'Alice'

In [100]:
# 32b. Print the age.
student[1]

21

In [101]:
# 32c. Print the department.
student[2]

'Computer Science'

In [102]:
# 33. Create a string "PythonProgramming".
str1 = "PythonProgramming"

In [103]:
# 33a. Print the middle 5 characters.
str1[6:11:]

'Progr'

In [104]:
# 33b. Print the string without the first and last characters.
str1[1:16:]

'ythonProgrammin'

In [105]:
# 34. Create a string " Data Science ".
str2 = " Data Science "

In [106]:
# 34a. Remove leading and trailing spaces.
m = str2.strip()

In [107]:
m

'Data Science'

In [108]:
# 34b. Print the string length before and after removing spaces.
len(str2)

14

In [109]:
len(m)

12

In [110]:
# 35. Create a string "MachineLearning".
str3 = "MachineLearning"

In [111]:
# 35a. Print the string in all lowercase.
str3.lower()

'machinelearning'

In [112]:
# 35b. Print the string in all uppercase.
str3.upper()

'MACHINELEARNING'

In [113]:
# 35c. Swap the case of all letters.
str3.swapcase()

'mACHINElEARNING'

In [114]:
# 36. Create a string "python is powerful".
str4 = "python is powerful"

In [115]:
# 36a. Capitalize only the first letter of the string.
str4.capitalize()

'Python is powerful'

In [116]:
# 36b. Use .title() to capitalize the first letter of each word.
str4.title()

'Python Is Powerful'

In [117]:
# 37. Create a string "datascience123".
str5 = "datascience123"

In [118]:
# 37a. Check if the string is alphanumeric.
str5.isalnum()

True

In [119]:
# 37b. Check if the string contains only digits.
str5.isdigit()

False

In [120]:
# 37c. Check if the string contains only alphabets.
str5.isalpha()

False

In [121]:
# 38. Create a string "hello world".
str6 = "hello world"

In [122]:
# 38a. Count how many times "o" appears.
str6.count('o')

2

In [123]:
# 38b. Find the index of the first occurrence of "world".
str6.index('world')

6

In [124]:
# 39. Create a string "abcd".
str7 = "abcd"

In [125]:
# 39a. Generate "a-b-c-d" using .join().
'-'.join(str7)

'a-b-c-d'

In [126]:
# 39b. Repeat the string 3 times.
str7*3

'abcdabcdabcd'

In [127]:
# 40. Create a string "python" and check:
str8 = "python"

In [128]:
# 40a, Does it start with "py"?
str8.startswith('py')

True

In [129]:
# 40b. Does it end with "on"?
str8.endswith('on')

True

In [130]:
# 41. Create a string "Artificial Intelligence".
str9 = "Artificial Intelligence"

In [131]:
# 41a. Split the string into a list of words.
str9.split(' ')

['Artificial', 'Intelligence']

In [132]:
# 41b. Print the longest word.
s = str9.split()

In [133]:
s

['Artificial', 'Intelligence']

In [134]:
max(s, key=len)

'Intelligence'

In [135]:
# 42. Create a string "reverse me".
str10 = "reverse me"

In [136]:
# 42a. Reverse the string using slicing.
str10[::-1]

'em esrever'

In [137]:
# 42b. Reverse each word individually (output: "esrever em").
c = str10[::-1].split(' ')

In [138]:
c

['em', 'esrever']

In [139]:
c.reverse()

In [140]:
c

['esrever', 'em']

In [141]:
' '.join(c)

'esrever em'