# Assignment No. 2

# I. Sets

In [1]:
# 1. Create a set with numbers from 1 to 5. Add the number 6 and remove 3. Print the final set.
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [2]:
# Add 3
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [3]:
# Remove 6
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

In [4]:
# 2. Write a program to find the union and intersection of two sets: {1, 2, 3} and {3, 4, 5}.
mySet1 = {1, 2, 3}
mySet2 = {3, 4, 5}

In [5]:
mySet1

{1, 2, 3}

In [6]:
mySet2

{3, 4, 5}

In [7]:
# union
mySet1 | mySet2

{1, 2, 3, 4, 5}

In [8]:
# intersection
mySet1 & mySet2

{3}

In [9]:
# 3. Given a list with duplicates [1, 2, 2, 3, 4, 4, 5], convert it into a set to remove duplicates.
myList = [1, 2, 2, 3, 4, 4, 5]
myList

[1, 2, 2, 3, 4, 4, 5]

In [10]:
# convert to set
mySet = set(myList)
mySet

{1, 2, 3, 4, 5}

In [11]:
# 4. Check whether the number 7 exists in the set {1, 3, 5, 7, 9}.
mySet = {1, 3, 5, 7, 9}
mySet

{1, 3, 5, 7, 9}

In [12]:
print(7 in mySet)

True

In [13]:
# 5. Create two sets and print the symmetric difference between them.
mySet1 = {1, 2, 3}
mySet2 = {3, 4, 5}

In [14]:
mySet1

{1, 2, 3}

In [15]:
mySet2

{3, 4, 5}

In [16]:
mySet1.symmetric_difference(mySet2)

{1, 2, 4, 5}

# II. Dictionaries

In [17]:
# 6. Create a dictionary of 3 students with names as keys and marks as values. Print only the keys.
studMarks = {"Aileen":92, "Sebastian":85, "Dante":70}
studMarks

{'Aileen': 92, 'Sebastian': 85, 'Dante': 70}

In [18]:
studMarks.keys()

dict_keys(['Aileen', 'Sebastian', 'Dante'])

In [19]:
# 7. Given {"a": 1, "b": 2, "c": 3}, update the value of "b" to 5.
myDict = {"a":1, "b":2, "c":3}
myDict

{'a': 1, 'b': 2, 'c': 3}

In [20]:
myDict.update({"b":5})
myDict

{'a': 1, 'b': 5, 'c': 3}

In [21]:
# 8. Write a program to count character frequency in the string "hello world" and store it in a dictionary.
str = "hello world"
str

'hello world'

In [22]:
char = {}

for i in str:
    char[i] = str.count(i)

In [23]:
char

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [24]:
# 9. Merge two dictionaries: {"x": 10, "y": 20} and {"y": 30, "z": 40}.
dict1 = {"x": 10, "y": 20} 
dict2 = {"y": 30, "z": 40}

In [25]:
dict1

{'x': 10, 'y': 20}

In [26]:
dict2

{'y': 30, 'z': 40}

In [27]:
dict1.update(dict2)

In [28]:
dict1

{'x': 10, 'y': 30, 'z': 40}

In [29]:
# 10. Check if a given key exists in a dictionary. If not, add the key with a default value.
mydict = {1:"Apple", 2:"Mango", 3:"Grapes", 4:"Strawberry"}

In [30]:
mydict

{1: 'Apple', 2: 'Mango', 3: 'Grapes', 4: 'Strawberry'}

In [31]:
if 5 in mydict:
    print(True)
else:
    mydict.setdefault(5, 'Papaya')

In [32]:
mydict

{1: 'Apple', 2: 'Mango', 3: 'Grapes', 4: 'Strawberry', 5: 'Papaya'}

# III. Functions

In [33]:
# 11. Write a function greet() that prints "Hello, Python!".
def greet():
    print("Hello, Python!")

greet()

Hello, Python!

In [34]:
# 12. Create a function square(n) that returns the square of a number.
def numSqr(n):
    return n**2

numSqr(14)

196

In [35]:
# 13. Write a function to calculate the sum of all elements in a list.
def listSum(a):
    for i in a:
        i+=i
    return i

myList = [10, 20, 30]
listSum(myList)

60

In [36]:
# 14. Create a function with a default parameter: def welcome(name="Guest"). Print "Welcome, <name>!".
def welcome(name="Guest"):
    print(f"Welcome, {name}!")

welcome()

Welcome, Guest!

In [38]:
#15. Write a function is_even(num) that returns True if a number is even, else False.
def is_even(num):
    if num%2==0:
        return True
    else:
        return False

In [39]:
is_even(25)

False

In [40]:
is_even(60)

True

In [41]:
# 16. Create a function to calculate the factorial of a number using recursion.
def numFact(n):
    if n==0 or n==1:
        return 1
    return n*numFact(n-1)

In [42]:
numFact(5)

120

In [43]:
numFact(12)

479001600

In [44]:
# 17. Write a function max_of_three(a, b, c) that returns the largest of three numbers.
def max_of_three(a, b, c):
    if(a>b and a>c):
        print(a, "is the largest number")
    elif(b>a and b>c):
        print(b, "is the largest number")
    else:
        print(c, "is the largest number")

In [45]:
max_of_three(100, 150, 500)

500 is the largest number

In [46]:
max_of_three(10, 50, 5)

50 is the largest number

In [47]:
max_of_three(120, 11, 37)

120 is the largest number

In [48]:
# 18. Create a function reverse_string(s) that returns the reversed string.
def reverse_string(s):
    rev = ""
    for i in s:
        rev = i + rev
    return rev

In [49]:
reverse_string('river')

'revir'

In [50]:
reverse_string('calender')

'rednelac'

In [51]:
# 19. Write a function to count the number of vowels in a given string.
def countVowel(s):
    vowels = 'aeiou'
    s = s.lower()
    charVowel = {}
    for i in s:
        if i in vowels:
            charVowel[i] = s.count(i)
    return charVowel

In [52]:
countVowel('E-education')

{'e': 2, 'u': 1, 'a': 1, 'i': 1, 'o': 1}

In [53]:
countVowel('World')

{'o': 1}

In [54]:
countVowel('Apocalypse')

{'a': 2, 'o': 1, 'e': 1}

In [55]:
# 20. Create a function that accepts any number of arguments using *args and returns their sum.
def allSum(*a):
    total = 0
    for i in a:
        total+=i
    return total

allSum(10, 20, 30, 40, 50, 60, 70)

280

# IV. Loops

In [58]:
# 21. Print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
# 22. Print the multiplication table of 5 using a loop.
a = 5
for i in range(1, 11):
    print(f"{a} x {i} = {a*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [60]:
# 23. Given a list [10, 20, 30, 40], print each element using a loop.
myList = [10, 20, 30, 40]
for i in myList:
    print(i)

10
20
30
40

In [61]:
# 24. Write a program to find the sum of numbers from 1 to 100 using a for loop.
totalSum = 0
for i in range(1, 101):
    totalSum += i
print(totalSum)

5050

In [62]:
# 25. Print only even numbers from 1 to 20 using a loop.
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [63]:
# 26. Given a string "python", print each character using a loop.
str = 'python'
for i in str:
    print(i)

p
y
t
h
o
n

In [64]:
# 27. Find the factorial of n using a for loop.
n = 5
factNum = 1
for i in range(1, n+1):
    factNum *= i
print(factNum)

120

In [65]:
# 28. Print the reverse of a list [1, 2, 3, 4, 5] using a loop.
myList = [1, 2, 3, 4, 5]
for i in myList[::-1]:
    print(i)

5
4
3
2
1

In [66]:
# 29. Count and print the number of odd numbers between 1 and 50.
oddNum = []
for i in range(1, 51):
    if i%2!=0:
        oddNum.append(i)

print("Count of odd numbers between 1 and 50:", len(oddNum))
print("Odd Numbers between 1 and 50:", oddNum)

Count of odd numbers between 1 and 50: 25
Odd Numbers between 1 and 50: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [67]:
# 30. Given a list of integers, print only the positive numbers using a loop.
myInt = [-88, 6, 88, 66, 99, -80, -14, -58, -36, 39]
posNum = []
for i in myInt:
    if i > 0:
        posNum.append(i)
print(posNum)

[6, 88, 66, 99, 39]

# V. While Loops

In [68]:
# 31. Print numbers from 1 to 10 using a while loop.
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [69]:
# 32. Calculate the sum of digits of a number using a while loop.
num = 25698
sum = 0
while num!=0:
    last = num%10
    sum = sum + last
    num = num // 10

print(sum)

30

In [70]:
# 33. Reverse a number using a while loop.
num = 25698
revNum = 0
while num!=0:
    last = num%10
    revNum = revNum*10 + last
    num = num // 10

print(revNum)

89652

In [72]:
# 34. Keep taking user input until they enter "exit".
n = input("Enter a name: ")
while n!='exit':
    print("Name entered:", n)
    n = input("\nEnter a name: ")

Enter a name:  Aileen

Name entered: Aileen

Enter a name:  Dante

Name entered: Dante

Enter a name:  Patrick

Name entered: Patrick

Enter a name:  Simon

Name entered: Simon

Enter a name:  Suzume

Name entered: Suzume

Enter a name:  exit

In [73]:
# 35. Print the multiplication table of a given number using a while loop.
i = int(input("Enter a number: "))
j = 1
while j<=10:
    mul = i*j
    print(f"{i} x {j} = {mul}")
    j+=1

Enter a number:  17

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

In [74]:
# 36. Print the first 10 even numbers using a while loop.
n = 1
while n<=21:
    if n%2==0:
        print(n)
    n+=1

2
4
6
8
10
12
14
16
18
20

In [75]:
# 37. Find the factorial of a number using a while loop.
num = int(input("Enter a positive number: "))

if n==0 or n==1:
    print("1")
else:
    fact = 1
    i = 1
    while i <= num:
        fact *= i
        i+=1
    print(fact)

Enter a positive number:  9

362880

In [76]:
# 38. Count the number of digits in a number using a while loop.
num = 23759
count = 0
while num>0:
    num = num // 10
    count+=1

print(count)

5

In [77]:
# 39. Print the Fibonacci sequence up to n terms using a while loop.
n = 15
a = 0
b = 1
i = 1

while i < n:
    print(a)
    a, b = b, a + b
    i+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [78]:
# 40. Keep asking for a password until the user enters "python123".
n = input("Enter password: ")
while n!='python123':
    print("Please enter another password. This is not acceptable")
    n = input("\nEnter password: ")

Enter password:  letsGo

Please enter another password. This is not acceptable

Enter password:  123HaveFun

Please enter another password. This is not acceptable

Enter password:  dream#987

Please enter another password. This is not acceptable

Enter password:  python123

# VI. Conditional Statements

In [79]:
# 41. Check if a given number is positive, negative, or zero.
num = int(input("Enter a number: "))
if num < 0:
    print("Number is negative")
elif num > 0:
    print("Number is positive")
else:
    print("Number is zero")

Enter a number:  -256

Number is negative

In [80]:
# 42. Input a year and check if it’s a leap year.
year = int(input("Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year")
        else:
            print("Not a leap year")
    else:
        print("Leap year")
else:
    print("Not a leap year")

Enter a year:  1992

Leap year

In [83]:
# 43. Input a character and check if it’s a vowel or consonant.
word = input("Enter a character: ")
vowels = 'aeiouAEIOU'
if word in vowels:
    print("Character is a vowel")
else:
    print("Character is a consonant")

Enter a character:  R

Character is a consonant

In [84]:
# 44. Write a program to check if a number is divisible by both 3 and 5.
num = int(input("Enter a number: "))
if num%3==0 and num%5==0:
    print("Number is divisible by both 3 and 5")
else:
    print("Number is not divisible by both 3 and 5")

Enter a number:  45

Number is divisible by both 3 and 5

In [85]:
# 45. Input age and print whether the person is eligible to vote (18 or above).
age = int(input("Enter age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter age:  21

Eligible to vote

In [86]:
# 46. Given three numbers, print the largest one.
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
c = int(input("Enter one more number: "))

if(a>b and a>c):
    print(a, "is the largest number")
elif(b>a and b>c):
    print(b, "is the largest number")
else:
    print(c, "is the largest number")

Enter a number:  12
Enter another number:  4
Enter one more number:  600

600 is the largest number

In [87]:
# 47. Input a mark and print the grade: 90+: A, 75–89: B, 60–74: C, Else: F
marks = int(input("Enter marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75 and marks <= 89:
    print("Grade B")
elif marks >= 60 and marks <= 74:
    print("Grade C")
else:
    print("Grade F")

Enter marks:  84

Grade B

In [88]:
# 48. Check if a string is a palindrome.
str = input("Enter a word: ")
if str == str[::-1]:
    print("String is a palindrome")
else:
    print("String is not a palindrome")

Enter a word:  madam

String is a palindrome

In [89]:
# 49. Given a number, check if it is even or odd using conditional statements.
num = int(input("Enter a number: "))
if(num%2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter a number:  379

Number is odd

In [90]:
# 50. Take two numbers and a choice from the user. If the choice is "add", print sum; if "sub", print difference; else print "Invalid choice".
n1 = int(input("Enter a number: "))
n2 = int(input("Enter another number: "))
c = input("Enter your choice: ")

if c == 'add':
    print("Sum:", n1+n2)
elif c == 'sub':
    print("Subtraction:", n1-n2)
else:
    print("Invalid Choice")

Enter a number:  246
Enter another number:  357
Enter your choice:  add

Sum: 603

# VII. Operators

# A. Arithmetic Operators

In [91]:
# 51. Input two numbers and print their sum, difference, product, quotient, and remainder.
n1 = int(input("Enter a number: "))
n2 = int(input("Enter another number: "))

print("Sum:", n1+n2)
print("Difference:", n1-n2)
print("Product:", n1*n2)
print("Quotient:", n1//n2)
print("Remainder:", n1%n2)

Enter a number:  87
Enter another number:  43

Sum: 130
Difference: 44
Product: 3741
Quotient: 2
Remainder: 1

In [92]:
# 52. Given a = 2, b = 5, print a ** b.
a = 2
b = 5
print(a**b)

32

In [93]:
# 53. Find the area of a circle given its radius (π = 3.14).
r = int(input("Enter radius: "))
pi = 3.14
area = pi*(r**2)
print("Area of circle:", area)

Enter radius:  12

Area of circle: 452.16

In [94]:
# 54. Input marks of 5 subjects and print their average.
m1 = int(input("Enter marks of Marathi (out of 100): "))
m2 = int(input("Enter marks of Hindi (out of 100): "))
m3 = int(input("Enter marks of English (out of 100): "))
m4 = int(input("Enter marks of Maths (out of 100): "))
m5 = int(input("Enter marks of Science (out of 100): "))

avg = (m1+m2+m3+m4+m5) / 5
print("Average marks:", avg)

Enter marks of Marathi (out of 100):  91
Enter marks of Hindi (out of 100):  87
Enter marks of English (out of 100):  83
Enter marks of Maths (out of 100):  96
Enter marks of Science (out of 100):  94

Average marks: 90.2

In [95]:
# 55. Convert temperature from Celsius to Fahrenheit.
c = int(input("Enter temperature in Celcius: "))
f = ((9/5)*c) + 32
print(f"Temperature in Fahrenheit: {f} F")

Enter temperature in Celcius:  40

Temperature in Fahrenheit: 104.0 F

# B. Bitwise Operators

In [96]:
# 56. For a = 5 and b = 3, print results of a & b, a | b, and a ^ b.
a = 5
b = 3
print(f"a & b: {a & b}")
print(f"a | b: {a | b}")
print(f"a ^ b: {a ^ b}")

a & b: 1
a | b: 7
a ^ b: 6

In [97]:
# 57. Shift bits of x = 8 to the left by 2 positions and print the result.
x = 8
print(f"x << 2: {x << 2}")

x << 2: 32

In [98]:
# 58. Check whether a given number is even using bitwise operators.
x = 15
# using bitwise and
if (x & 1) == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [99]:
x = 15
# using bitwise or
if (x | 1 > x):
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [100]:
# 59. Swap two numbers using bitwise XOR.
x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
print("Original")
print(f"x: {x}, y: {y}")

x = x ^ y
y = x ^ y
x = x ^ y
print("After swapping")
print(f"x: {x}, y: {y}")

Enter a number:  45
Enter another number:  76

Original
x: 45, y: 76
After swapping
x: 76, y: 45

In [101]:
# 60. Demonstrate bitwise NOT on an integer and explain the output.

'''
x = 16
Bitwise NOT (~) operations inverts all the bits.
It takes an integer and converts it to its equivalent binary representation and
changes all the 0's in the original binary number to 1's and all the 1's to 0's.
Python uses signed integer in two's complement form. So when we apply the bitwise NOT, 
it flip all bits and interprets the result as a signed integer using two's complement.
In two's complement, the formula for bitwise NOT is:
~x = -(x + 1)
Here,
x = 16
~x = -(16 + 1) = -17
So, the output is -17

Binary number of 16 = 0001 0000
Flipping the bits = 1110 1111
In binary signed 2's complement, 1110 1111 is -17
'''
x = 16
print(f"~x: {~x}")

~x: -17

# C. Conditional (Ternary) Operators

In [102]:
# 61. Input two numbers and print the greater one using a ternary operator.
x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
res = f"{x} is greater" if x > y else f"{y} is greater"
print(res)

Enter a number:  15
Enter another number:  20

20 is greater

In [ ]:
# 62. Print "even" if a number is divisible by 2, else print "odd".
num = int(input("Enter a number: "))
res = "Even" if num%2==0 else "Odd"
print(res)

In [ ]:
# 63. Assign "Pass" or "Fail" to a variable based on marks ≥ 40 using a single line.
marks = int(input("Enter marks: "))
res = "Pass" if marks >= 40 else "Fail"
print(res)

In [ ]:
# 64. Input three numbers and print the smallest using a ternary operator.
x = int(input("Enter a number: "))
y = int(input("Enter another number: "))
z = int(input("Enter one more number: "))
res = f"{x} is greater" if (x > y and x > z) else f"{y} is greater" if (y > x and y > z) else f"{z} is greater"
print(res)

In [ ]:
# 65. Check if a character is uppercase or lowercase in one line.
str = input("Enter a string: ")
res = "Uppercase" if str.isupper() else "Lowercase" if str.islower() else "Either mixed or non-alphabetic character"
print(res)